.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 400px;
  width: 300px;
  background-color: lightblue;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}